.wrapper {
  width: 100%;
  height: 100vh;
}

.seoulImg {
  /* transition: width 0.3s ease; */
  width: 35%;
  height: 100%;
  background-size: 100vw;
  position: absolute;
}

.seoulBW {
  background-size: 100vw;
  filter:grayscale();
  width: inherit;
  height: inherit;
  position: absolute;
}

/* SMALL SCREEN */
.seoulImg, .seoulBW {
  background-image: url("./guangzhou-mobile.jpg");
  background-size: 125vw;
}

@media (min-width: 768px) {
  .seoulImg,
  .seoulBW {
    background-image: url("./guangzhou.jpg");
  }
}